<div class="card my-4">
  <h5 class="card-header"><a href="/article/categories">Categories</a></h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <% @article_categories.each do |category| %>
              <li>
                <a href="/category/<%=category.id%>/articles"><%=category.category_name%></a>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>