<p id="notice"><%= notice %></p>

<h2>Admin Blog Articles <%= link_to 'New Admin Blog Article', new_admin_blog_article_path,  class:'btn btn-primary' %></h2>

<%= render(
      partial: '/admin/blog_articles/partials/list',
      locals: { blog_article: @blog_article }
) %>